.pointed-events-index
  = search_form_for @q do |f|
    .d-flex.justify-content-between
      .item
        = f.input :user_id_eq, collection: User.all, include_blank: 'All', label: 'User', required: false, label_method: :email
      .item
        = f.input :type_eq, collection: PointedEvent.pluck(:type).uniq, include_blank: 'All', label: 'Type', required: false
      .item
        %label Date range
        .input-group
          = f.text_field :created_at_gteq, id: 'start-date', class: 'form-control', placeholder: 'Start date...', data:  { default: l(PointedEvent.minimum(:created_at).to_date, format: :daterange_picker) }
          = f.text_field :created_at_lteq, id: 'end-date', class: 'form-control', placeholder: 'End date...', data: { default: l(Date.today, format: :daterange_picker) }
      .item
        %label= "&nbsp;".html_safe
        .input-group
          .input-group-prepend
            = f.button :submit, class: 'btn btn-primary'
          .input-group-append
            = link_to 'Clear', pointed_events_path, class: 'btn btn-secondary'

  .summary
    = paginate @pointed_events
    .total
      = pluralize number_with_delimiter(@pointed_events.total_count), 'Pointed Events'

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Created at
        %th User
        %th Type
        %th Value
    %tbody
      = render @pointed_events
