.chart
  %div#react-target
  %p.text-muted.text-center
    %em= t 'views.home_page.chart_explanation'

.weekly-contest
  %h2 Weekly Contest
  %p.dates
    - start = Date.today.beginning_of_week
    = l start, format: :contest_dates
    \-
    = l (start + 4.days), format: :contest_dates
  %table.table.rankings.table-hover.table-borderless.table-striped
    %thead
      %tr
        %th User
        %th Current Total
        %th Breakdown
    %tbody
      - @rankings.each do |ranking|
        %tr
          %td
            = ranking.email
            %small= "(#{ranking.github})"
          %td= number_with_delimiter ranking.total
          %td
            %ul.small
              - ranking.breakdown.map do |k, v|
                %li
                  = succeed ':' do
                    = k
                  %strong
                    = number_with_delimiter(v)

.row.totals
  .col-sm-6
    %h2 Totals

    %ul.list-group
      %li.list-group-item.total
        Total Events:
        %a{ href: pointed_events_path }
          = number_with_delimiter PointedEvent.count
      %li.list-group-item.weekly-total
        Total Events This Week:
        %a{ href: pointed_events_path }
          = number_with_delimiter(PointedEvent.this_week.count)
      - PointedEvent.pluck(:type).uniq.each do |event_type|
        %li.list-group-item.type-total
          Total
          %strong= event_type
          Events:
          %a{ href: pointed_events_path }
            = number_with_delimiter(PointedEvent.by_type(event_type).count)
