%div#react-target

%h2 Weekly Contest

%table.table.rankings
  %thead
    %tr
      %th Colab-o-ranker
      %th Current Total
  %tbody
    - @rankings.each do |ranking|
      %tr
        %td
          = ranking.email
          %small= "(#{ranking.github})"
        %td= number_with_delimiter ranking.total
        %td
          %ul.small
            - ranking.breakdown.map do |k, v|
              %li
                = succeed ':' do
                  = k
                %strong
                  = number_with_delimiter(v)

