!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Colaborank
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'collaboration_chart'
  %body
    = render 'layouts/navigation'

    - unless flash.empty?
      .row
        .col
          = render 'layouts/messages'
    .container.main
      = yield

    = render 'layouts/footer'
